@import "../../../styles/variables";

.projects{
    background-color: $dark-grey-color;
    color: $pink-color;
    height: 100%;

}

.projectcontainer{
    margin:5%;
    height: 100%;
}

.projects-br{
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 25%; /* change this to whatever height you want it */
}