@import "../../../styles/variables";

.home-container {
    position: relative;
    .navigation-container {
        position: sticky;
        top: 0;
    }
}

.landing-container {
    position: relative;
    background-color: $dark-grey-color;
    z-index: 50;
    width: 100%;

    .landing-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        overflow: hidden;

        width: 100%;
        height: calc(var(--vh, 1vh) * 100);

        .landing-content {
            z-index: 100;
            width: 60%;
            min-width: 600px;

            .title {
                color: $aqua-color;
                width: 60%;
            }
            .subtitle {
                color: $pink-color;
                width: 60%;
            }

            hr {
                border-color: $dark-grey-color;
                margin: 40px 0;
                border-width: 1px;
                width: 90%;
            }
        }

        .navigate-container {
            display: flex;
            align-items: center;
            margin-left: -10px;
            margin-top: 28px;

            .links-container {
                display: flex;
                flex-wrap: wrap;

                a {                
                    text-decoration: none;     
                    color: $pink-color;           
                }
            }

            .link-container {
                height: 50px;
                border-radius: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px;
                border: 1px solid $dark-grey-color;
                margin: 0 10px;
                margin-bottom: 20px;
                background-color: white;
                color: $dark-grey-color;
                transition: all 0.5s;                
            }            

            .link-container:hover {
                background-color: $dark-grey-color;
                color: white;
                a {
                    color: white;
                }
            }

        }
    }

    .perspective-container {
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    .perspective-touch-container {
        position: position;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .search-bar {
        z-index: 100;
    }

    @media screen and (max-width: 820px) {
        .title {
            width: 70%;
            font-size: 42px;
        }
        .subtitle {
            width: 100%;
            font-size: 26px;
        }
        .landing-content-container .landing-content {
            width: 80%;
            min-width: 300px;

            .subtitle {
                width: 90%;
            }
        }
    }

    @media screen and (max-width: 568px) {
        .landing-content-container .landing-content {
            hr {
                margin: 18px 0;
            }
        }
        .landing-content-container .navigate-container {
            .link-container {
                height: 40px;
                border-radius: 10px;
                padding: 8px;
                border: 1px solid $dark-grey-color;
                margin: 0 4px 0 10px;
                margin-bottom: 14px;
                font-size: 14px;    
            }            

            .link-container:hover {
                background-color: $dark-grey-color;
                color: white;
                a {
                    color: white;
                }
            }
        }
    }

    /* IPhone SE */
    @media screen and (max-width: 320px) {
        .title {
            width: 70%;
            font-size: 32px;
        }
        .subtitle {
            width: 100%;
            font-size: 18px;
        }
        .landing-content-container .navigate-container {
            .link-container {
                height: 40px;
                border-radius: 10px;
                padding: 8px;
                border: 1px solid $dark-grey-color;
                margin: 0 10px;
                margin-bottom: 12px;

                a {  
                    font-size: 10px;        
                }
            }            

            .link-container:hover {
                background-color: $dark-grey-color;
                color: white;
                a {
                    color: white;
                }
            }
        }
    }

    .landing-navbar {
        z-index: 100;
    }
}

@media screen and (max-width: 820px) {
    .landing-container .landing-content {
        align-items: flex-start;
        padding: 0px 40px;
    }
}
